*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(234, 29%, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin-top: 80px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}
.box1{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 50vh;
    margin: 30px 14px;
    padding: 40px;

}
.box1 h1{
    color:  hsl(235, 18%, 26%);
    font-size: 72px;
    text-align: center;
    margin-bottom: 20px;
}


.box1 p{
    color: hsl(231, 7%, 60%);
    font-size: 20px;
    word-wrap: break-word;
    
}


.box1 .list{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 0;
    

}

.box1 .list .item-list{
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}
.box1 .list .item-list svg{
    margin-top: 8px ;
    margin-right: 10px;
}





.box1 .list ul{
    font-size: 18px;
    
    
}

.box1 .list ul li{
    list-style: none;
    margin-top: 8px ;
    color: hsl(231, 7%, 60%);
}



.box1 .form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form span{
    color:hsl(235, 18%, 26%);
    font-size: 16px;
}

.form input {
    margin: 10px 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid hsl(231, 7%, 60%);
     outline: none;
     border-radius: 5px;
}

.form input::placeholder {
    color: hsl(231, 7%, 60%);
    padding: 8px;
}


.box2 img{
   padding: 8px;
}